header h1 {
  text-transform: uppercase;
}

.site-menu {
  background: #fff;
  height: auto;
  border: none;
  padding-left: 1em;
}

.site-menu li {
  float: none;
  width: 100%;
  height: 2em;
  border: none;
}

.site-menu a {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}